    
    <div class="container text-center">
        <h1 style="color: rgb(247, 252, 178); background-color: rgb(81, 87, 107); font-family: 'Cormorant Garamond', serif;">Indian States History</h1>
    </div>
    
    
    
    </body>
</html>