<%- include ("./partials/header")  %>


<div class="container">
    <div class="jumbotron">
        <h1 style="font-family: 'Lobster', cursive;">I Love My INDIA</h1>
        <h2>Welcome to India</h2>
        <p style="font-family: 'Caveat', cursive;">India, our country is a huge and beautiful land full of wonders. From the Himalayas to the Indian Ocean, Desert of Thar in the snowy mountains of Sikkim, it is a country full of beautiful landscapes and beautiful people. India is a unique country with diversity. "Unity is diversity" is the main slogan of the country. 
        </p>
        <button class="btn btn-lg- btn-default"><a href="/states">View All states</a></button>
    </div>
</div>


<!-- <a href="/states">View All states</a> -->


<%- include ("./partials/footer")  %> 