.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}
.thumbnail .caption-full {
  padding: 9px;
}
#show {
  display: inline;
}
.navbar {
  background-color: rgb(248, 246, 252);
}
